html,body
{
    height:100%;
    padding: 0;
    margin: 0;
}
body{
    background: url("../images/txture.png"),url("../images/classy_fabric.png");
    /* overflow:hidden; */
    background-position: right bottom, top;
    background-repeat: repeat-x, repeat;
}
.jumbotron{
    height: auto;
    padding: 10px;
    /* overflow:scroll; may need to remove */

}
h2{
    margin: 20px;
}

#quiz-title{
    color:#e7e7e7ad;
    text-align: center;
    font-size: 4em;
    text-shadow: #fff 0px 1px 10px;
    margin-top: 10px;
}
.fa-circle{
    color: rgb(107, 105, 105);
    font-size: 40px;
    border-radius: 30px;
    cursor: pointer;
}
.far:hover{
    background: rgba(119, 119, 119,0.324);
 }
 tr:hover *{
    color: #333333;
 }
 span .darker{
     color: #333;
 }
 span{
    font-size: 1.35em;
    color: rgb(107, 105, 105);
    display:inline-table;
    vertical-align:middle;
    margin:0px 35px;
}
#questionHeader{
    display:inline-block;
    position: relative;
}
h4{
    position: relative;
    left: 20px;
}
.fas{
    color: #0000faaa !important;
    text-shadow: #492b7a9d 0 0px 20px;
}

tr{
    margin: 10px auto;
    display:inline-flex;
    padding: 10px;
}
table{
    height:100%;
    width:100%;
}
tbody{
    text-align: center
}

@media only screen and (max-width: 768px){
    tr{width:100%;}
    .jumbotron{
        height:80%;
        min-width: auto;
    }
    .container{
        margin:0px auto;
    }
}